@charset "utf-8";
/* CSS Document */
body {
  margin: 0px;
  background: rgba(240, 248, 255, 1); /* Light Alice Blue */
  background: -moz-linear-gradient(
    left,
    rgba(240, 248, 255, 1) 0%,
    rgba(224, 236, 255, 1) 44%,
    rgba(255, 250, 250, 1) 100% /* Snow */
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(240, 248, 255, 1)),
    color-stop(44%, rgba(224, 236, 255, 1)),
    color-stop(100%, rgba(255, 250, 250, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(240, 248, 255, 1) 0%,
    rgba(224, 236, 255, 1) 44%,
    rgba(255, 250, 250, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(240, 248, 255, 1) 0%,
    rgba(224, 236, 255, 1) 44%,
    rgba(255, 250, 250, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(240, 248, 255, 1) 0%,
    rgba(224, 236, 255, 1) 44%,
    rgba(255, 250, 250, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(240, 248, 255, 1) 0%,
    rgba(224, 236, 255, 1) 44%,
    rgba(255, 250, 250, 1) 100%
  );
}

#topHeader {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(200, 200, 200, 0.7);
  -moz-box-shadow: 0px 10px 25px 0px rgba(200, 200, 200, 0.7);
  box-shadow: 0px 10px 25px 0px rgba(200, 200, 200, 0.7);
  background-color: rgba(255, 255, 255, 1); /* White */
  font-family: "Trebuchet MS";
  font-size: 24px;
  color: rgba(50, 50, 50, 1);
  text-align: center;
  vertical-align: middle;
  padding: 15px 0px;
}

.tag {
  font-family: "Segoe UI";
  color: rgba(30, 144, 255, 1); /* Dodger Blue */
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.SubHead {
  font-family: "Segoe UI";
  color: rgba(70, 130, 180, 1); /* Steel Blue */
  font-size: 18px;
  font-weight: bold;
}

#content {
  width: 500px;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(200, 200, 200, 1);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

div#table {
  display: table;
  padding: 10px 10px;
}
div.tr {
  display: table-row;
}
div.td {
  display: table-cell;
  width: inherit;
  padding: 5px 10px;
}

div.tdd {
  text-align: center;
  caption-side: top;
}

div.tddd {
  text-align: center;
  padding: 5px 5px;
  caption-side: top;
}

label {
  font-family: "Segoe UI";
  color: rgba(70, 70, 70, 1);
  font-size: 16px;
}

input[type="text"],
input[type="password"] {
  font-family: "Trebuchet MS";
  font-size: 15px;
  background-color: rgba(245, 245, 245, 1);
  color: rgba(50, 50, 50, 1);
  padding: 5px 10px;
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 5px;
}

input[type="submit"],
input[type="button"] {
  font-family: "Trebuchet MS";
  font-size: 16px;
  background-color: rgba(224, 236, 255, 1);
  color: rgba(50, 50, 50, 1);
  padding: 5px 15px;
  border: 1px solid rgba(150, 150, 150, 1);
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: rgba(30, 144, 255, 1); /* Dodger Blue */
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(30, 144, 255, 1);
}

a.link:link,
a.link:active,
a.link:visited {
  font-family: "Trebuchet MS";
  color: rgba(70, 130, 180, 1);
  font-size: 16px;
  text-decoration: none;
}
a.link:hover {
  color: rgba(30, 144, 255, 1);
  cursor: pointer;
}

select {
  font-family: "Trebuchet MS";
  font-size: 14px;
  background-color: rgba(240, 240, 240, 1);
  color: rgba(50, 50, 50, 1);
  padding: 5px;
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 5px;
}

.text {
  font-family: "Segoe UI";
  font-size: 14px;
  color: rgba(50, 50, 50, 1);
}

a.button:link,
a.button:active,
a.button:visited {
  font-family: "Segoe UI";
  text-decoration: none;
  color: rgba(70, 130, 180, 1);
  padding: 8px;
  background-color: rgba(240, 248, 255, 1);
  border: 2px solid rgba(70, 130, 180, 1);
  border-radius: 5px;
}
a.button:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 130, 180, 1);
  border: 2px solid rgba(255, 255, 255, 1);
}

table,
tr,
td {
  border: 1px solid rgba(200, 200, 200, 1);
  border-collapse: collapse;
  font-family: "Trebuchet MS";
  font-size: 14px;
  background-color: rgba(255, 255, 255, 1);
}
